<html>
	<%= stylesheet_link_tag "search" %>
<body>
	<h1>FSM graph search</h1>
	<form id="searchBox" action="">
		<input id="searchInputBox" type="text" x-webkit-speech  placeholder="Search Here" />
	</form>
</body>
</html>