<html>
	<body>
		
		<% @records_array.each do |record| %>
			<% if record['url'] %>
				<% record['url'].split(" ").each do |img| %>
					<%= image_tag img %>
				<% end %>
			<% end %>
		<% end %>
	</body>
</html>