doctype html
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
html.container(lang="en" class="no-js" ng-app="galleryApp")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
            FSM Digital Archive

        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        link(rel="stylesheet" href="../bower_components/foundation/css/normalize.css")
        link(rel="stylesheet" href="../bower_components/foundation/css/foundation.min.css")

        <!-- If you are using the gem version, you need this only -->
        link(rel="stylesheet" href="app.css")
        script(src='../bower_components/jquery/jquery.min.js')
        script(src='../bower_components/masonry/dist/masonry.pkgd.min.js')
        script(src='../bower_components/imagesloaded/imagesloaded.js')
        script(src='../bower_components/angular/angular.js')
        script(src='../bower_components/angular-masonry/angular-masonry.js')
        script(src='hackfsm.min.js')
body(ng-controller="GalleryGridCtrl")
    .row
        .row
            .form
                .large-12.columns
                    .row.collapse
                        .small-10.columns
                          label
                            Search
                          input(type="text" placeholder="Search")
                        .small-2.columns
                            a.button.postfix
                               | Search
    .row(masonry)
        div.masonry-brick(ng-repeat="brick in bricks")
            a(ng-href="{{ brick.url }}")
                img(ng-src="{{ brick.url }}" alt="Image")

    //-.row#container
            //-a(href="{{item.url}}" ng-repeat="item in items")
                //-img(src="{{item.url}}")
        a(href="#")
            img(src="")
        //-- for (var i = 0; i < 100; ++i) {
          //-- var categories = 'abstract animals business cats city food nightlife fashion people nature sports technics transport'.split(' ')
          //-a(href="#").item
            //-img.th(src="http://lorempixel.com/200/300/#{categories[i%13]}/#{i % 10 + 1}/")
        //-- }

