doctype html
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
html(lang="en" class="no-js")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
            FSM Digital Archive

        <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
        link(rel="stylesheet" href="../bower_components/foundation/css/normalize.css")
        link(rel="stylesheet" href="../bower_components/foundation/css/foundation.min.css")

        <!-- If you are using the gem version, you need this only -->
        link(rel="stylesheet" href="app.css")
body
    .row
        .row
            .form
                .large-12.columns
                    .row.collapse
                        .small-10.columns
                          label
                            Search
                          input(type="text" placeholder="Search")
                        .small-2.columns
                            a.button.postfix
                               | Search
    script(src='../bower_components/masonry/dist/masonry.pkgd.min.js')
    script(src='../bower_components/angular/angular.min.js')
    script(src='hackfsm.min.js')
